<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/404.css">
    <title>ERROR 404</title>
</head>
<body>
    <section class="content-error">
        <h1 class="title-error">ERROR 404 NOT FOUND X_X</h1>
    </section>
</body>
</html>